<div class="welcome">
  <h1>Welcome to Branch!</h1>
  <p class="lead">
    Please Sign-Up or Sign-In below
  </p>
    <div class="buttons">
      <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-default" %>
      <%= link_to "Sign In", new_user_session_path, :class => "btn btn-default" %>
      <br>
      <%= link_to "Login with Facebook", user_facebook_omniauth_authorize_path, :class => "btn btn-default" %>
    </div>
  </div>
