/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";
 /* Some Style from the Bootstrap Default Theme */
body {
  background-image: image-url('/assets/background.png'); /* Bird on a Branch : ajmaines (https://interfacelift.com/wallpaper/details/1819/bird_on_a_branch.html); */
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #E0E0E0;
  padding-top: 70px;
  text-align: center;
}
.alert {
  margin: 0 auto 20px;
  max-width: 40vw;
}
.btn {
  margin: 10px;
}
.btn a {
  text-decoration: none;
  color: #000000;
}
.btn-default > a:hover {
  background-color: #00e676;
  color: #FFFFFF;
  font-weight: bold;
}
.buttons {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin: 0 auto;
  padding: 15px 10px;
  max-width: 40vw;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 15px;
  line-height: 25px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.container a {
  color: #2A677D;
  text-decoration: underline #D8E435;
}
.comments {
  margin: 10px auto;
  padding: 15px 10px;
  max-width: 40vw;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
#new_comment {
  margin: 10px auto;
  padding: 15px 10px;
  max-width: 40vw;
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 15px;
  line-height: 25px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.form {
  text-align: center;
  border: 0;
  border-radius: 5px;
  border-color: #eee #ddd #bbb;
  margin: 0 auto;
  padding: 15px 10px;
  max-width: 40vw;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 15px;
  line-height: 25px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
#hello {
  padding: 0 10px;
  margin-top: 15px;
}
.lead {
  color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #2A677D;
  font-weight: bold;
  text-decoration: underline #D8E435;
}
.submit {
  background-color: #2A677D;
  color: #D8E435;
  border: none;
  margin: 10px;
  padding: 6px 12px;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 4px;
}
#new_comment > input[type="submit"] {
  background-color: #2A677D;
  color: #D8E435;
  border: none;
  margin: 10px;
  padding: 6px 12px;
  white-space: nowrap;
  font-weight: bold;
  border-radius: 4px;
}
.title {
  text-align: center;
  color: #FFFFFF;
  background-color: #2A677D;
  border-radius: 5px 5px 0px 0px;
  border: 0;
}
.welcome {
  text-align: center;
  margin: 0 auto;
  max-width: 40vw;
  color: #FFFFFF;
}
