// Place all the styles related to the Branches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {
  margin: 10px;
}
.btn a {
  text-decoration: none;
  color: #000000;
}
.btn-default > a:hover {
  background-color: #00e676;
  color: #FFFFFF;
  font-weight: bold;
}
.buttons {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feed {
  margin: 0 auto;
}
h3 {
  margin: 0 auto;
}
