// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ctg, #cat {
  display: inline;
  font-size: 20px;
}
.sub_container {
  text-align: left;
  padding: 15px;
  max-width: 40vw;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
