// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ctg, .cat {
  display: inline;
  font-size: 20px;
}
.hidden_cat {
  padding: 0 10px;
  font-weight: bold;
}
.sub_container {
  text-align: left;
  margin: auto;
  padding: 15px;
  max-width: 600px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}
