// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#title {
  text-align: center;
  color: #FFFFFF;
  background-color: #2A677D;
}
#cont {
  list-style-type: none;
  margin: 0 auto;
  padding: 5px 0;
}
#cont_item {
  text-align: center;
}
