<div class="container" id="form">
  <%= form_for [@city, @category], url: city_categories_path do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br>
    <%= f.submit %>
    <% end %>
</div>
